@import "../vendor/css/bootstrap-grid.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.6;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    position: absolute center;
  }
  
@media (min-width: 575.98px){
    .container {
      max-width: 540px;
      margin: auto;
      padding: 0;
    }
  }
  
@media (min-width: 767.98px){
    .container {
      max-width: 720px;	
    }
  }
  
@media (min-width: 991.98px) {
    .container {
      max-width: 960px;
    }
  }
  
@media (min-width: 1199.98px){
    .container {
      max-width: 1140px;
    }
  }

.header {
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    z-index: 100;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    background-color: #1e1e1e;
}

.header_fixed{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #1e1e1e; 
  width: 100%;
}

/* .wrapper{
  background-image: url(../css/images/fon.png);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
}  */

.col{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 30px;
    padding-right: 50px;
    margin: 0;
} 

.logo{
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    color: #01539d;
    font-weight: normal;
} 

#result{
  margin: 0;
    font-size: 30px;
    line-height: 35px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    text-decoration: none;
    /* -webkit-text-stroke: 0.1px #4fb8fe;    */
}

#result2{
  margin: 0;
    font-size: 30px;
    line-height: 35px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;   
}


.shapka{
    margin: 0;
    /* color:#2362AB; */
    color: #4fb8fe;
    font-size: 17px;
    margin-left: 20px;
    line-height: 50px;
    text-decoration: none;
}

.main{
    background-color: white;
    background-size: cover;
    margin-bottom: 100px;
}

.row{
  margin-bottom: 40px;
}

.row.header{
  margin: 0;
}

.header > a{
  text-decoration: none;
}

.row.promo{
  margin-top: 10px;
  margin-bottom: 0px;
}

.col-12 p{
    padding: 20px;
    text-align: center;
}

#pr{
  color: black;
}

.col-4{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 50px;
  /* flex-wrap: wrap; */
}

.img{
  /* width: 150px;
  height: 150px; */
  align-self: center;
}

.col-4 p{
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.rotate-img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.rotate-img:hover {
  -webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
}

.podborka{
  color: #d1743e;
  /* color:#eea47e; */
  text-decoration: none;
  text-shadow: 1px 1px 5px #d3d3d3;
  font-weight: 500;
}

.footer{
  background-image: url(../css/images/fon.png);
  background-size: 100% auto;
  width: 100%;
  height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  -webkit-box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.2);         
}

.row.footer{
  margin: 0;
}

.col p{
  color: #4fb8fe;
  line-height: 17px;
  margin: 0;
}

.col-3 img{
  height: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.col-3{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0; 
  height: auto;

}

.col-9 p{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}

#title{
  display:flex;
  justify-content: left;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
}

.start{
  height: auto;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  /* padding-left: 70px; */
  display: flex;
  justify-content: left;
}

.start p{
  font-weight: 600;
  font-size: 20px;
  color:#d1743e;
  text-shadow: 1px 1px 5px #d3d3d3;
  padding-left: 20px;
}

#book{
  height: auto;
  margin: 0;
  margin-bottom: 40px;
  min-height: 250px;
  width: 100%;
  padding: 1em;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 4px rgba(0, 0, 0, .1) inset;
}

.ghost-button-semi-transparent {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #d1743e;
  border: 2px solid #d1743e;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #d1743e;
  background-color: rgb(224, 167, 134,0.2);
  border-color: #d1743e; 
  border-color: #d1743e(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.row.button{
  display: flex;
  justify-content: left;
  padding-left: 50px;
}



